<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .error{
            color: red;
        }

    </style>
    <title>Order Delivery Details</title>
</head>
<body>
    <h1>Order Delivery Details</h1>

    <h1>Your first submission is successful</h1>

    <form action="#"
    data-th-action="@{/pizza/order}"
    data-th-object="${delivery}" 
    method = "POST">

    <p>
        <label>Name: </label>
        <input type ="text" data-th-field="*{name}">
        <span
            data-th-errorclass = "error"
            data-th-if="${#fields.hasErrors('name')}"
            data-th-errors="*{name}" >
        </span>
    </p>

    <br/>

    <p>
        <label>Address: </label>
        <input type ="text" data-th-field="*{address}">
        <span
            data-th-errorclass = "error"
            data-th-if="${#fields.hasErrors('address')}"
            data-th-errors="*{address}" >
        </span>
    </p>
    <br/>

    <p>
        <label>Phone: </label>
        <input type ="text" data-th-field="*{phoneNumber}">
        <span
            data-th-errorclass = "error"
            data-th-if="${#fields.hasErrors('phoneNumber')}"
            data-th-errors="*{phoneNumber}" >
        </span>
    </p>
    <br/>

    <p>
        <label>Rush: </label>
        <input type ="checkbox" data-th-field="*{rush}" value="true">
    </p>
    <br/>

    <p>
        <label>Comments</label><br/>
        <textarea data-th-field="*{comments}" rows="10" cols="50"></textarea>
    </p>
    <br/>

    <p>
        <input type = "submit" value="Place  Order">
        <!-- <input type = "submit" value="Cancel  Order"> -->
    </p>
    
    </form>

    <form action="#"
    data-th-action="@{/}"
    method = "get">
        <!-- your form elements here -->
        <input type="submit" value="Cancel">
    </form>

</body>
</html>