<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Order Confirmation</title>
</head>
<body>
    <h1>Delivery details</h1>

    <div data-th-object="${delivery}">
        <p>
            Order Number:
            <span data-th-text="*{id}"></span>
        </p>

        <p>
            Name:
            <span data-th-text="*{name}"></span>
        </p>
     
        <p>
            Phone Number: 
            <span data-th-text="*{phoneNumber}"></span>
        </p>
   
        <p>
            Your order will be delivered to: 
            <span data-th-text="*{address}"></span>
        </p>


        <p>
            Rush:
            <span data-th-text="*{rushCost}"></span>
        </p>

        <p>
            Comments:
            <span data-th-text="*{comments}"></span>
        </p>

        <p>
            Pizza Type:
            <span data-th-text="*{pizzaType}"></span>
        </p>


        <p>
            Size:
            <span data-th-text="*{size}"></span>
        </p>


        <p>
            Quantity:
            <span data-th-text="*{quantity}"></span>
        </p>



    </div>

</body>
</html>